<!DOCTYPE html>
<html>

<head>
    <title>Edit Reminder</title>
</head>

<body>
    <h1>Edit Reminder</h1>
    <form method="post">
        {% csrf_token %}
        <label>Description:</label>
        <input type="text" name="description" value="{{ event.description }}" required><br>

        <label>Date:</label>
        <input type="date" name="date" value="{{ event.date }}" required><br>

        <label>Start Time:</label>
        <input type="time" name="start_time" value="{{ event.start_time }}" required><br>

        <label>End Time:</label>
        <input type="time" name="end_time" value="{{ event.end_time }}" required><br>

        <button type="submit">Save</button>
    </form>
    <a href="{% url 'reminder-list' %}">Back to Calendar</a>
</body>

</html>