.btm-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #2d2d2d;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  border-top-left-radius: 35px; /* Adjust the size to your preference */
  border-top-right-radius: 35px;
}

.btm-nav button {
  background: none;
  border: none;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  transition: all 0.3s ease;
}

.btm-nav button:hover {
  color: #4caf50; /* Change to your preferred hover color */
}

.btm-nav button.active {
  color: #4caf50; /* Active color */
}

.btm-nav svg {
  width: 100%; /* Allow the icons to scale with their container */
  height: 100%; /* Allow the icons to scale with their container */
}
.btm-nav-label {
  font-size: 12px;
  margin-top: 5px;
}

.btm-nav button:focus {
  outline: none;
}

/* Make the bottom navigation responsive */
@media (max-width: 768px) {
  .btm-nav {
    padding: 8px 0;
  }

  .btm-nav button {
    padding: 10px;
  }

  .btm-nav-label {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .btm-nav {
    padding: 12px 0;
  }

  .btm-nav button {
    background: none;
    border: none;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    transition: all 0.3s ease;
    width: 40px; /* Adjust button width to control icon size */
    height: 40px; /* Adjust button height to control icon size */
  }

  .btm-nav-label {
    font-size: 14px;
  }
}
