{% load static %}

<!DOCTYPE html>
<html lang="en">

<!-- In base.html -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GALA{% endblock %}</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.2.0/dist/fullcalendar.min.css" rel="stylesheet" />

    <!-- FullCalendar JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.2.0/dist/fullcalendar.min.js"></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#FFC107',
                        dark: '#00386d', /* Unified color */
                    },
                },
            },
        };
    </script>
</head>

<body class="min-h-screen">

    <!-- Include menu.html (fixed navbar at the top) -->
    {% include 'menu.html' %}

    <!-- Content Section where specific page content will be placed -->
    <div class="relative">
        {% block content %}{% endblock %}
    </div>

</body>

</html>