{% load static %}

<!DOCTYPE html>
<html lang="en">

<!-- In base.html -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}GALA{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.2.0/dist/fullcalendar.min.css" rel="stylesheet" />

    <!-- FullCalendar JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.2.0/dist/fullcalendar.min.js"></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#00386d',
                        dark: '#00386d', /* Unified color */
                    },
                },
            },
        };
    </script>
</head>

<body class="min-h-screen">
    <!-- Include Suggestions Modal -->
    {% include 'menu.html' %}

    <!-- Content Section where specific page content will be placed -->
    <div class="relative">
        {% block content %}{% endblock %}
    </div>

</body>

</html>

{% block extra_js %}
<script>
    function openDeleteModal() {
        document.getElementById("deleteModal").classList.remove("hidden");
        document.getElementById("deleteModal").classList.add("flex");
    }

    function closeDeleteModal() {
        document.getElementById("deleteModal").classList.add("hidden");
        document.getElementById("deleteModal").classList.remove("flex");
    }

    function openUpdateModal() {
        document.getElementById("updateModal").classList.remove("hidden");
        document.getElementById("updateModal").classList.add("flex");
    }

    function closeUpdateModal() {
        document.getElementById("updateModal").classList.add("hidden");
        document.getElementById("updateModal").classList.remove("flex");
    }

    document.getElementById('updateModal').addEventListener('submit', function (event) {
        event.preventDefault();
        document.getElementById('update-account-form').submit();
    });

    function confirmUpdate() {
        const form = document.getElementById('update-account-form'); // Targeting the form explicitly
        if (form) {
            form.submit(); // Submit the form for update
        } else {
            console.error("Form not found.");
        }
    }
</script>
{% endblock %}