{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALA</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        /* Ensure the map covers the entire screen */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
            width: 100%;
        }

        .custom-popup .leaflet-popup-content-wrapper {
            width: 412px;
            border: 5px solid rgb(255, 255, 255);
            border-radius: 10px;
            box-shadow: none !important;
            background-color: transparent !important;
        }

        .custom-popup .leaflet-popup-content {
            color: rgb(255, 255, 255);
            margin: 0;
            padding: 0;
        }

        .custom-popup .leaflet-popup-close-button {
            cursor: pointer;
            color: rgb(255, 255, 255) !important;
        }
    </style>
</head>

<body>
    <!-- Map Container -->
    <div id="map"></div>

    <!-- Include Modals -->
    {% include 'suggestions.html' %}
    {% include 'menu.html' %}

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([10.31, 123.8754], 10);

        // Add tile layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        var allPins = JSON.parse('{{ all_pins_json|escapejs }}');

        // Create a feature group to hold all markers
        var allMarkers = L.featureGroup();

        // Add markers for reminders and locations
        allPins.forEach(item => {
            const {
                latitude,
                longitude,
                type,
                title,
                name,
                description,
                start,
                end,
                weather,
                distance,
                image,
                address,
                is_happening,
                is_within_5km
            } = item;

            // Determine the icon URL based on the event type and status
            const iconUrl = type === 'reminder'
                ? (is_happening ? "{% static 'images/favicon_green.png' %}" : "{% static 'images/favicon.png' %}")
                : "{% static 'images/favicon_red.png' %}";

            const customIcon = L.icon({
                iconUrl: iconUrl,
                iconSize: [60, 60],
                iconAnchor: [15, 50],
                shadowUrl: "{% static 'images/marker-shadow.png' %}",
                shadowSize: [60, 60],
                shadowAnchor: [15, 50],
                popupAnchor: [0, -50],
            });

            const bgColor = type === 'reminder'
                ? (is_happening ? 'rgba(40, 167, 69, 0.8)' : 'rgba(0, 56, 109, 0.8)') // Green for happening, blue otherwise
                : 'rgba(197, 48, 48, 0.8)'; // Red for locations

            // Adjust opacity based on the distance
            const markerOpacity = is_happening && is_within_5km ? 1 : (is_within_5km ? 1 : 0.5);

            let popupContent = `
        <div style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            padding: 30px; 
            height: auto !important;  
            width: 400px; 
            border-radius: 10px; 
            background-color: ${bgColor}; 
            color: white; 
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
            ${image ? `
                <img src="${image}" alt="Image" 
                    style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px; margin-bottom: 10px;" />
            ` : ''}                    
            <h3 style="margin: 0; font-size: 1.5em; font-weight: bold; text-align: center;">
                ${type === 'reminder' ? title : name}
            </h3>
            <p style="margin: 5px 0; font-size: 1em; text-align: center;">${address || 'Address not available'}</p>
        `;

            if (type === 'reminder') {
                popupContent += `
            <span class="inline-block px-3 py-1 text-xs font-medium text-white rounded ${is_happening ? 'bg-green-700' : 'bg-blue-900'}">
                Reminder
            </span>
            <p><strong>Start:</strong> ${start}</p>
            ${end ? `<p><strong>End:</strong> ${end}</p>` : ''}
        `;
            } else if (type === 'location') {
                popupContent += `
            <span class="inline-block px-3 py-1 text-xs font-medium text-white rounded bg-red-800">
                Location
            </span>
            <p><strong>Description:</strong> ${description}</p>
            ${weather ? `<p><strong>Weather:</strong> ${weather}</p>` : ''}
        `;
            }

            popupContent += `
        <p><strong>Distance:</strong> ${distance}</p>
    </div>
    `;

            const marker = L.marker([latitude, longitude], {
                icon: customIcon,
                opacity: markerOpacity // Use adjusted opacity
            }).bindPopup(popupContent, { className: 'custom-popup' });

            // Add the marker to the feature group
            marker.addTo(allMarkers);
        });


        // Add all markers to the map
        allMarkers.addTo(map);

        function getUserLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        const userLatitude = position.coords.latitude;
                        const userLongitude = position.coords.longitude;

                        // Set the zoom level and center the map around the user's location
                        map.setView([userLatitude, userLongitude], 13); // Adjust the zoom level as needed

                        // Add the 7km radius circle to the map
                        const radiusInMeters = 5000;
                        const userLocationCircle = L.circle([userLatitude, userLongitude], {
                            fillColor: 'yellow',
                            fillOpacity: 0.4,
                            stroke: true,
                            color: 'yellow',
                            weight: 3,
                            radius: radiusInMeters,
                        }).addTo(map);

                        // Add a small marker to indicate the exact user's location
                        const userExactLocationCircle = L.circleMarker([userLatitude, userLongitude], {
                            fillColor: 'white',
                            fillOpacity: 0.7,
                            stroke: true,
                            color: 'black',
                            weight: 1,
                            radius: 10,
                        }).addTo(map);

                        map.fitBounds(userLocationCircle.getBounds());

                        map.once('moveend', () => {
                            map.panBy([-150, -15]);
                        });

                        fetch('/api/user-location', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}',
                            },
                            body: JSON.stringify({
                                latitude: userLatitude,
                                longitude: userLongitude,
                            }),
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                if (data.success) {
                                    console.log('User location saved successfully.');
                                } else {
                                    console.error('Failed to save user location:', data.error);
                                }
                            })
                            .catch((error) => console.error('Error:', error));
                    },
                    (error) => {
                        console.error('Error getting location:', error);
                    }
                );
            } else {
                console.error('Geolocation is not supported by this browser.');
            }
        }

        // Call getUserLocation and set bounds to the feature group after the user's location is fetched
        document.addEventListener('DOMContentLoaded', () => {
            getUserLocation();
        });

    </script>

</body>

</html>