<!--suggestions.html-->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALA</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#00386d',
                        dark: '#b70000',
                        light: '#EAF4FA',
                    },
                    backgroundImage: {
                        'gradient-dark': 'linear-gradient(to bottom right, #00386d, #005082)',
                    },
                },
            },
        };
    </script>

    <link rel="stylesheet" href="{% static 'css/suggestions.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<body class="suggestions-page bg-gray-100"
    data-user-authenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}">

    <div class="center-rectangle bg-dark bg-opacity-90 shadow-xl p-10 rounded-2xl max-w-xl w-full">
        <h2 class="outfit sticky top-0 text-2xl font-regular text-primary text-center mb-6">
            UPCOMING <span class="lobster-two-bold text-4xl font-bold text-white"> GALA </span> EVENTS NEAR YOU
        </h2>

        <div class="mt-4 space-y-6">
            {% for item in combined_list %}
            <div
                class="group relative bg-opacity-90 p-4 rounded-lg shadow-md 
                {% if item.type == 'reminder' %} bg-primary text-white {% elif item.type == 'location' %} bg-dark text-light {% endif %}">

                {% if item.type == "reminder" %}
                <h4 class="font-bold text-lg">{{ item.title }}</h4>
                <p>Start: {{ item.start }}</p>
                {% if item.end %}
                <p>End: {{ item.end }}</p>
                {% endif %}
                <p class="font-semibold">Distance: {{ item.distance }}</p>

                {% elif item.type == "location" %}
                <h4 class="font-bold text-lg">{{ item.name }}</h4>
                <p>{{ item.description }}</p>
                {% if item.weather %}
                <p>Weather: {{ item.weather }}</p>
                {% endif %}
                <p class="font-semibold">Distance: {{ item.distance }}</p>
                {% endif %}

            </div>
            {% empty %}
            <p class="text-center text-gray-300">No nearby suggestions found.</p>
            {% endfor %}
        </div>

    </div>
</body>

</html>