<!--suggestions.html-->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALA</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#00386d',
                        dark: '#b70000',
                        light: '#EAF4FA',
                        green: '#28a745', // Add custom green color if necessary

                    },
                    backgroundImage: {
                        'gradient-dark': 'linear-gradient(to bottom right, #00386d, #005082)',
                    },
                },
            },
        };

        function toggleSuggestionItem(item) {
            const isActive = item.getAttribute("data-active") === "true";

            document.querySelectorAll('.suggestion-item').forEach((el) => {
                el.classList.remove("active");
                el.setAttribute("data-active", "false");
                el.querySelector(".suggestion-item-extra").classList.add("hidden");
            });

            if (!isActive) {
                item.classList.add("active");
                item.setAttribute("data-active", "true");
                const extraContent = item.querySelector(".suggestion-item-extra");
                if (extraContent) {
                    extraContent.classList.remove("hidden");
                }
            }
        }

        function toggleSave(eventId, button) {
            if (!eventId) {
                console.error('Invalid event ID:', eventId);
                return;
            }

            fetch(`/toggle-save/${eventId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        const isSaved = data.is_saved;

                        // Get the dynamic color from the parent element
                        const parent = button.closest('.suggestion-item');
                        const computedStyle = window.getComputedStyle(parent);
                        const dynamicColor = computedStyle.backgroundColor;

                        // Toggle visibility and set colors dynamically
                        const savedSVG = button.querySelector('.saved-svg path');
                        const unsavedSVG = button.querySelector('.unsaved-svg path');

                        if (isSaved) {
                            button.querySelector('.saved-svg').classList.remove('hidden');
                            button.querySelector('.unsaved-svg').classList.add('hidden');
                            savedSVG.setAttribute('fill', dynamicColor);
                        } else {
                            button.querySelector('.saved-svg').classList.add('hidden');
                            button.querySelector('.unsaved-svg').classList.remove('hidden');
                            unsavedSVG.setAttribute('stroke', dynamicColor);
                            unsavedSVG.setAttribute('fill', 'none'); // Ensure no fill on unsaved
                        }
                    } else {
                        console.error('Error toggling save state:', data.error);
                    }
                })
                .catch((error) => console.error('Error:', error));
        }

    </script>

    <link rel="stylesheet" href="{% static 'css/suggestions.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<body class="suggestions-page" data-user-authenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}">

    <div class="center-rectangle shadow-xl p-10 rounded-2xl max-w-xl w-full">
        <div class="center-rectangle-background"></div>
        <h2 class="outfit sticky top-0 text-2xl font-regular text-primary text-center mb-6">
            <span class="lobster-two-bold text-4xl font-bold text-white"> GALA </span> EVENTS HAPPENING NEAR YOU
        </h2>

        <div class="mt-4 space-y-6">
            {% for item in combined_list %}
            <div class="group suggestion-item relative p-4 rounded-lg shadow-md 
                {% if item.type == 'reminder' %}
                    {% if item.is_happening %} bg-green text-white {% elif item.is_overdue %} bg-dark text-white {% else %} bg-primary text-white {% endif %}
                {% elif item.type == 'location' %} bg-dark text-light {% endif %}" data-active="false"
                onclick="toggleSuggestionItem(this)">
                <h4 class="font-bold text-lg">
                    {% if item.type == "reminder" %}
                    {{ item.title }}
                    {% else %}
                    {{ item.name }}
                    {% endif %}
                </h4>

                {% if item.type == "reminder" %}
                <p class="font-semibold text-sm">{{ item.distance }} away</p>
                {% if item.is_happening %}
                <p class="font-semibold text-sm text-white">Happening Now</p>
                {% elif item.is_overdue %}
                <p class="font-semibold text-sm text-red-500">Missed</p>
                {% else %}
                <p class="font-semibold text-sm">{{ item.time_remaining }}</p>
                {% endif %}
                {% elif item.type == "location" %}

                <p class="font-semibold text-sm"> {{ item.distance }} away</p>
                {% if item.weather %}
                <p>{{ item.weather }}</p>
                {% endif %}
                {% endif %}

                <div class="suggestion-item-extra hidden">
                    <p class="suggestion-item-address font-bold mt-2">{{ item.address }}</p>
                    <div class="suggestion-item-buttons">
                        <!-- Map Icon (Outlined) -->
                        <button class="map-icon" data-latitude="{{ item.latitude }}"
                            data-longitude="{{ item.longitude }}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
                            </svg>
                        </button>

                        <!-- Save Button -->
                        <button onclick="toggleSave({{ item.event_reminder_id|default:'null' }}, this)"
                            class="save-button">
                            <!-- Saved SVG -->
                            <svg class="saved-svg {% if not item.is_saved %}hidden{% endif %}"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M7.833 2c-.507 0-.98.216-1.318.576A1.92 1.92 0 0 0 6 3.89V21a1 1 0 0 0 1.625.78L12 18.28l4.375 3.5A1 1 0 0 0 18 21V3.889c0-.481-.178-.954-.515-1.313A1.808 1.808 0 0 0 16.167 2H7.833Z"
                                    fill="currentColor" />
                            </svg>

                            <!-- Unsaved SVG -->
                            <svg class="unsaved-svg {% if item.is_saved %}hidden{% endif %}"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="m17 21-5-4-5 4V3.889a.92.92 0 0 1 .244-.629.808.808 0 0 1 .59-.26h8.333a.81.81 0 0 1 .589.26.92.92 0 0 1 .244.63V21Z"
                                    fill="none" stroke="currentColor" stroke-width="2" />
                            </svg>


                        </button>
                    </div>
                </div>
            </div>

            {% empty %}
            <p class="text-center text-gray-300">No nearby suggestions found.</p>
            {% endfor %}

        </div>
    </div>


</body>

</html>