.suggestions-page .center-rectangle {
  position: absolute;
  left: 30px;
  top: 15%;
  width: 350px;
  padding: 20px;
  background: rgba(3, 2, 84, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1000;
  animation: fadeIn 0.5s ease-in-out;
  transition: all 0.3s ease;
  overflow: scroll;
  scroll-behavior: initial;
  height: 75%;
  scrollbar-width: none;
}

.suggestions-page .center-rectangle::-webkit-scrollbar {
  display: none;
}

.suggestions-page .center-rectangle .suggestion-item.active.bg-primary {
  background-color: rgba(255, 255, 255, 0.8);
  color: #00386d; /* Blue for reminders */
}

.suggestions-page .center-rectangle .suggestion-item.active.bg-dark {
  background-color: rgba(255, 255, 255, 0.8);
  color: #b70000; /* Red for locations */
}

.suggestions-page .center-rectangle .suggestion-item-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.suggestions-page .center-rectangle .suggestion-item-buttons svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: #00386d;
  transition: fill 0.3s ease;
}

.suggestions-page .center-rectangle .suggestion-item-buttons svg:hover {
  fill: #005082;
}

.suggestions-page .center-rectangle .suggestion-item-address {
  margin-top: 8px;
  font-size: 0.875rem;
  color: #555;
}
